.StarshipPage {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 200px;
}

.StarshipPage-starship {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    background-color: rgb(8, 79, 78);
    color: white;
}

.StarshipPage a {
    color: white;
}